* {
  margin: 0;
  padding: 0;
  border: none;
}

input {
  all: unset;
}

body {
  background-color: rgb(23, 12, 41);
  color: rgb(199, 199, 199);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.card {
  padding: 48px 24px 0px 24px;
  background-color: rgb(23, 12, 41);
  width: 380px;
  font-family: "Source Sans 3", sans-serif;
}

.info-title {
  font-size: 20px;
  margin-bottom: 24px;
  text-align: center;
}

.info h1 {
  margin-bottom: 34px;
  font-size: 30px;
  text-align: center;
}

.info input {
  margin-bottom: 32px;
  width: 380px;
  height: 40px;
  border-radius: 10px;

  padding: 0 0 0 8px;
  background-color: #363142;
  color: white;
}

input:focus {
  border: 1px solid red;
}

.ultimo {
  margin-top: 32px;
  margin-bottom: 32px;
}

.ultimo-texto {
  color: purple;
}

.botao button {
  width: 120px;
  height: 48px;
  border-radius: 10px;
  background-color: purple;
  color: white;
  border: none;
}
